html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: rgb(255,138,35);
  background: linear-gradient(0deg, rgba(255,138,35,0.908000700280112) 0%, rgba(251,93,93,0.8631827731092436) 44%, rgba(252,69,69,0.835171568627451) 100%);
  min-height: 100%;
}
header {
  background-color: #ec3a49;
  color: white;
  padding: 5rem 0;
}

  h1 {
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 3rem;
  }